body{
    background-color: beige;
    background-image: url("to.webp");
}
h1{
    color: black;
    text-align: center;
    font-size: 75px;
}
div.container {
    text-align: center;
  }
  ul{
    display: inline-block;
    text-align: left;
    font-size: 24px;
  }
  input{
    margin: 15px;
    width: 240px;

  }